@import '../../scss/colors.scss'; //reset
@import '../../scss/breakpoints';
@import '../../scss/mixin';

.editor-list {
	li {
		margin: 20px 0;
		border-radius: 5px;
		background-color: #fff;
		box-shadow: $boxShadow;
		padding: 2rem;
		.row {
			padding: 5px 0;
		}

		button {
			text-align: center;
			width: 100%;
		}
	}
}

.add-form li {
	background: $makerBg;
}
