@import '../../scss/colors.scss'; //reset

@import '../../scss/breakpoints';
@import '../../scss/mixin';

.card-list {
	padding-left: 0;
	list-style: none;

	li {
		padding: 10px 0;
	}

	.card {
		border: none;
		border-radius: 5px;

		padding: 30px;
	}
	.d-flex {
		align-items: center;
	}
	.card-thumb {
		margin-right: 2rem;
		img {
			max-width: 160px;
		}
	}
}

p {
	margin-bottom: 0;
}
