@import '../../scss/breakpoints';
@import '../../scss/mixin';
@import '../../scss/colors.scss'; //reset
.maker {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.maker-wrap {
	display: flex;
	flex: 1;

	@include size(lg) {
		flex-wrap: wrap;
	}
}

.maker-wrap > section {
	flex-basis: 50%;
	background-color: $makerBg;
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include size(lg) {
		flex: 0 0 100%;
		min-width: 100%;
	}
}
.editor {
	padding-right: 1.5rem;
	padding-left: 3rem;
}
.preview {
	padding-left: 1.5rem;
	padding-right: 3rem;
}

.card {
	box-shadow: $boxShadow;
}

.title {
	margin-bottom: 1em;
	color: $makerBlack;
}
