@import '../../scss/breakpoints';
@import '../../scss/mixin';
.maker {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.maker-wrap {
	display: flex;
	flex: 1;

	@include size(lg) {
		flex-wrap: wrap;
	}
}

.maker-wrap > section {
	flex-basis: 50%;

	@include size(lg) {
		flex: 0 0 100%;
		min-width: 100%;
	}
}
